<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<!-- start: CSS -->
	<style type="text/css">

	.select_color {background-color:#DEE0FF;
					text-color:gray;
	}

	</style>
	<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
	<link href="css/style-responsive.min.css" rel="stylesheet">
	<link href="css/retina.css" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
			
</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				
				<a class="brand" href="\"><span>Chat Stranger</span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white warning-sign"></i>
							</a>
							<ul class="dropdown-menu notifications">
								<li>
									<span class="dropdown-menu-title">You have 11 notifications</span>
								</li>	
                            	
								<li>
                                    <a href="#">
										+ <i class="halflings-icon white user"></i> <span class="message">New user registration</span> <span class="time">yesterday</span> 
                                    </a>
                                </li>
                                <li>
                            		<a class="dropdown-menu-sub-footer">View all notifications</a>
								</li>	
							</ul>
						</li>
						<!-- start: Message Dropdown -->
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white envelope"></i>
							</a>
							<ul class="dropdown-menu messages">
								<li>
									<span class="dropdown-menu-title">You have 9 messages</span>
								</li>
                                <li>
                                    <a href="#">
										<span class="avatar"><img src="img/avatar5.jpg" alt="Avatar"></span>
										<span class="header">
											<span class="from">
										    	Jane Sanders
										     </span>
											<span class="time">
										    	Jul 25, 2012
										    </span>
										</span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>  
                                    </a>
                                </li>
								<li>
                            		<a class="dropdown-menu-sub-footer">View all messages</a>
								</li>	
							</ul>
						</li>
						<!-- end: Message Dropdown -->
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i>{{ user.username }} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="halflings-icon white user"></i> Profile</a></li>
								<li><a href="/logout"><i class="halflings-icon white off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
		
			<!-- start: Content -->
			<div id="content" class="span11" style="margin-left:20px;">
						
			<div class="row-fluid">
				
				
			
			</div>
			
			
			<div class="row-fluid">

				{% for chat in chats %}

				<div class="box span4 scroll" onTablet="span6" onDesktop="span4">
					<div class="box-header">

						<h2><i class="glyphicons-icon chat" style="margin-top: -14px;"></i><span class="break"></span>
							{% if user.username == chat.recipient.username %} {{chat.sender.username}} {% else %} {{chat.recipient.username}} {% endif %}</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content" >
						<ul class="chat" style="height: 300px;overflow: auto;">
								{% for msg in msgs %}
								{% if user.username == msg.sender.username %} <li class="right"> {% else %} <li class="left"> {% endif %} 
									<img class="avatar" alt="Lucas" src="img/avatar.jpg">
								<span class="message"><span class="arrow"></span>
									{% if user.username == msg.sender.username %} <span class="text">me </span>{% else %} <span class="from">{{msg.sender.username}}</span> {% endif %} 
									<span class="text">{{msg.message}}</span>
									<span class="time"><a title='{{msg.timestamp.strftime("%A, %d. %b %Y %I:%M%p")}}' data-placement="left"data-html="true" rel="tooltip" href="#">{{msg.timestamp.strftime("%I:%M%p")}}</a></span>
								</span>	
								</li>
								{% endfor %}
						</ul>
						<div class="chat-form">
							<textarea id="msg_{% if user.username == chat.recipient.username %}{{chat.sender.key().id()}}{% else %}{{chat.recipient.key().id()}}{% endif %}"></textarea>
							<button class="btn btn-info" onclick="msg_send('{{chat.key()}}',{{user.key().id()}},{% if user.username == chat.recipient.username %}{{chat.sender.key().id()}}{% else %}{{chat.recipient.key().id()}}{% endif %})">Send message</button>
						</div>	
					</div>

				</div><!--/span-->
				{% endfor %}
			
			</div>
				
			
       
					
			</div>
			<!-- end: Content -->
			
			<!-- start: Widgets Area -->
<div id="widgets-area" class="span6 hidden-tablet hidden-phone" style="float: left; margin-right: 90px;">
	<div id="myTabContent" class="span3">
			<div class="box span3 scroll" onTablet="span5" onDesktop="span3">
					<div class="box-header">
						<h2><i class="glyphicons-icon group" style="margin-top: -14px;"></i><span class="break"></span>Strangers</h2>
						<div class="box-icon">
							<a href="#"  id="message" rel="popover" ><i class="glyphicons-icon chat" style="margin-top: -14px;"></i></a>
						</div>
					</div>
					<div class="box-content">
						<ul class="dashboard-list" >
							{% for user in users%}
							<li class="chk" id="user_{{user.username}}" data="0" style="cursor:pointer" >
							<img class="avatar" alt="Lucas" src="img/avatar.jpg">
								<strong>Name:</strong> <a href="#"><span class="mylist">{{user.username}}</a><br>
								<strong>from:</strong> {{user.city}},{{user.country}} <br>
								<strong><span class="label label-success">{{user.gender}}</span></strong>
								<input type="hidden" class="userkey" value="{{user.key().id()}}">
								</span>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div><!--/span-->
	</div>
</div>

<!-- end: Widgets Area -->

<a id="widgets-area-button" class="hidden-tablet hidden-phone open"><i class="fa-icon-group"></i></a>				
				</div><!--/fluid-row-->	
		<!-- <div class="clearfix"></div>
		
		<footer style="margin-top: 30%;">
			<p>
				<span style="text-align:left;float:left">&copy; 2013</span>
				<span class="hidden-phone" style="text-align:right;float:right">Powered by: Chat Stranger TEAM</a></span>
			</p>
		</footer> -->
		

	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
		
		<script src="js/gauge.min.js"></script>

		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/raphael.2.1.0.min.js"></script>
	<script src="js/justgage.1.0.1.min.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/core.min.js"></script>
	
		<script src="js/charts.js"></script>
	
		<script src="js/custom.js"></script>
		<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script>

		$('.time').tooltip({
  			selector: "a[rel=tooltip]"
		})

		function msg_send(key,from,to){
		var msg = jQuery("textarea#msg_"+to).val();
		jQuery("textarea#msg_"+to).val("");

		var dataString = '&from=' + from + '&to='+ to +'&msg=' +msg+'&key='+key;
		$.ajax({
   			type: "POST",
   			data: dataString,
   			cache: false,
   			url: "/msgsend",
   			success: function(html) {$("#dyContent").html(html);}
 			});

	}












		var selected =[];

		function send_msg(){
			$("#recipients").val(selected);
		}


		//Attach click handler to document
    $(document).bind('click', function (e) {
    	var hasFocus = $('#msg').is(':focus');
    	if(hasFocus){
    		return
    	}
        $("#message").popover('hide');
    });

    //Dont hide when I click anything inside #container
    $('#msg').bind('click', function(e) {
        e.stopPropagation();
    });


$("#message").popover({
		placement:'left',
		html: true,
		container : 'body',
		content: '<form id="ctn" action="sendmsg" method="post"><textarea type="text" id="msg" name="msg" rows="4" placeholder="Enter your Message here"></textarea><button id="submit" class="btn" type="submit" onclick="send_msg();">Send</button><input type="hidden" id="recipients" name="recipients"></form>',
		trigger: 'manual'

}).click(function(e) {
    $(this).popover('toggle');
    e.stopPropagation();
});






		$(document).ready(function() 
 {
    $('ul.dashboard-list li').click(function(e) 
    { 
     var temp = $(this).find("input.userkey").val();
     console.log(temp);
     console.log($.inArray(temp,selected));
     if($.inArray(temp,selected)==-1){
     $("#user_"+$(this).find("span.mylist").text()).addClass('select_color');
     selected.push(temp);
 	}
 	else{

 		$("#user_"+$(this).find("span.mylist").text()).removeClass('select_color');	
 		var index = selected.indexOf(temp);
		selected.splice(index, 1);
 	}
     //console.log($("#user_"+$(this).find("span.mylist").("data")));
      //alert($(this).find("span.list").text());

    });
 });








	    (function($){
	        $(window).load(function(){
	            $(".scroll").mCustomScrollbar({theme:"light"});
	        });
	    })(jQuery);
	</script>
		<script type="text/javascript">
		$('#widgets-area').fadeOut();
		</script>

	<!-- end: JavaScript-->
	
</body>
</html>